body {
    width: 960px;
    margin: 0 auto;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 50px;
}

footer {
    text-align: center;
    font-size: 50px;
}

p {
    font-size: xx-large;
}

#pantalla {
    border: groove 8px black;
    background-color: rgb(10, 93, 247);
}

#boton {
    background-color: rgb(121, 55, 184);
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding: 1px;
    border: solid 2px black;
}

#boton:hover {
    /* Estilo que se activa al pasar el puntero sobre el boton */
    background-color: grey;
    font-size: 22px;
    border: groove 4px white;
}